/* _Pagination.scss */

.pagination-wrap {
  margin: 0 auto $offset-g2 0;

  ul.ul-pagination {
    text-align: center;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      &.li-prev-next button,
      &.li-num button {
        @include btn-disc("pagination-num");
        background-color: transparent;
      }

      &.li-num.active button {
        @include btn-disc("pagination-active");
      }
    }
  }
  /* (END) .ul-pagination */
}
/* (END) .pagination-wrap */
