/* _BigGrid.scss */

.items-wrap.big-items-wrap {
  padding: 0;
  @include resp-prop-half("padding-left", $offset-g1);
  @include resp-prop-half("padding-right", $offset-g1);

  .cards {
    .item-card.big {
      // @include item-card();
      margin-top: 0;
    }
  }
}
