.slick-slider.carousel-featured {
  z-index: 0;
}

.slick-slider.carousel-featured .slick-list {
  z-index: 0;
}

/* kill margin below image */
.slick-slider.carousel-featured
  .slick-list
  > .slick-track
  > .slick-slide
  > div
  > div {
  display: block !important;
}

.slick-slider.carousel-featured .slick-prev,
.slick-slider.carousel-featured .slick-next {
  z-index: 2;
  top: 100px;
  margin: 0;
  width: 40px;
  height: 40px;
  opacity: 0.5;
}
.slick-slider.carousel-featured .slick-prev:before,
.slick-slider.carousel-featured .slick-next:before {
  font-size: 40px;
}

.slick-slider.carousel-featured .slick-dots li button:before {
  font-size: 10px;
  color: white;
}

.slick-slider.carousel-featured .slick-dots li.slick-active button:before {
  color: white;
}

.slick-slider.carousel-featured .slick-prev {
  left: 30px;
}

.slick-slider.carousel-featured .slick-next {
  right: 30px;
}

.slick-slider.carousel-featured .slick-slide img {
  /* display: block; */
  width: 100%;
  height: auto;
}

.slick-slider.carousel-featured .slick-dots {
  bottom: 15px;
}

.slick-slider.carousel-featured .slick-prev {
  left: 15px;
}

.slick-slider.carousel-featured .slick-next {
  right: 15px;
}

.slick-slider.carousel-featured .slick-prev,
.slick-slider.carousel-featured .slick-next {
  /* width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: none;
    text-align: center;
    border: 0;
    box-shadow: none !important;
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: opacity 0.25s ease-in-out;
    transition: all 0.3s ease;
    background: #263762;
    font-size: 0;
    color: transparent;
    opacity: 0;
    top: 50%;
    margin: -20px 0 0; */
}

.slick-slider.carousel-featured .slick-slider:hover .slick-prev,
.slick-slider.carousel-featured .slick-slider:hover .slick-next {
  opacity: 0.5;
}
