/* _base-forms.scss */

// REF: https://stackoverflow.com/questions/6483425/prevent-iphone-from-zooming-in-on-select-in-web-app
@media screen and (max-width: $bp-sm-1) {
  select:active,
  input:active,
  textarea:active {
    font-size: 16px;
  }
}
