/* _ImgGrid.scss */

ul.ul-img-grid {
  display: flex;
  flex-wrap: wrap;

  li {
    flex: 0 0 33.33333333%;
    @media (min-width: $bp-tablet) and (max-width: $bp-sm-1) {
      flex: 0 0 10%;
    }
    @media (min-width: $bp-xs) and (max-width: $bp-tablet-1) {
      flex: 0 0 20%;
    }
  }

  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    cursor: pointer;
  }

  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  //   grid-template-rows: repeat(6, 5vw);
  //   grid-gap: 2px;
  //   margin: 0 auto;

  //   @media (min-width: $bp-tablet) and (max-width: $bp-md-1) {
  //     grid-template-columns: repeat(8, 1fr);
  //     grid-template-rows: repeat(2, 5vw);
  //   }

  //   @media (max-width: $bp-tablet-1) {
  //     grid-template-columns: repeat(2, 2fr);
  //     grid-template-rows: repeat(3, 30vw);
  //   }

  //   .css-grid__img {
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //     cursor: pointer;

  //     > div {
  //       width: 100%;
  //       height: 100%;
  //     }
  //   }
}
