/* CustAlphabetSorter.scss */

/* Extends.scss */

.aClass {
  color: $color_hyperlink-text;
  &:hover {
    color: $color_hyperlink-text-hover;
  }
  &:active {
    color: $color_hyperlink-text-active;
  }
}
.aLozengeClass {
  color: $color_hyperlink-text;
  background: white;
  border: 1px solid $table-color-border;
  padding: 5px;
  text-decoration: none;
  line-height: 20px;
  border-radius: 5px;

  &:hover {
    border-color: $color_hyperlink-text-hover;
    background: $color_hyperlink-text-hover;
    color: white;
  }
  &:active {
    border-color: $color_hyperlink-text-active;
    background: $color_hyperlink-text-active;
    color: white;
  }
}

.as-items.as-items--navigator {
  .as-items__list {
      display: flex;
      flex-wrap: wrap;
      // border: 1px solid black;

    .as-item {
      // position:static;
      // display:inline-block;
      margin:0 5px 5px 0;

      &.as-item--navigator {
        // border:2px solid red;
        // background:yellow;
        flex-basis:100%;
        height:10px;

        .as-item__navigator {
          top:20px;
          font-weight:bold;
        }

        .as-item__content {
          display:none;
        }
      }

      a {
        display:block;
        border:1px solid #ccc;
        padding:5px 10px;
      }
    }
  }
}