/* _VideoEmbed.scss */


.wrap-iframe {
  position:relative;
  width: 100%;
  min-height: 380px;
  z-index:0;
  text-align: center;
  @media(min-width:$bp-tablet-1) and (max-width:$bp-md-1){
    height: 440px;
  }  

  img {
    visibility:hidden;
    z-index:0;
    height: 100%;
    width: auto;
    margin: 0 auto;

    
  }
  iframe {
    position:absolute;
    z-index:1;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}