/* _ItemRelated.scss */
// nested style within _ItemExtras.scss

.item-extras {
  &.item-related {
    display: block;
    width: 100%;

    > div.ir-wrap-all:not(:first-child) {
      margin-top:$offset-g2;//ensure related items have space below
    }

    .ir-wrap {
      .ir-img {
        margin: $offset-1 0;
        a {
          display: block;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .ir-txt {
        display: block;
      }

      @media (max-width: $bp-tablet-1) {
        display: flex;
        flex-direction: row;

        .ir-img {
          width: 30%;
        }
        .ir-txt {
          width: 70%;
          padding: 0 $offset-g1;
        }
      }
    }
  }
}
