/* DrawerToggleButton.scss */

// [=]
.toggle-button {
  position: absolute;
  z-index: 102;
  background: transparent;
  top: $offset-2;
  left: $offset-g1;
  display: block;
  @media (max-width: $bp-tablet-1) {
    top: $offset-1;
    left: 0;
  }
  @media (max-width: $bp-xs-1) {
    top: 5px;
  }
  border: none;
  padding: $offset-1 $offset-g1;
  box-sizing: border-box;
  cursor: pointer;
  font-size: $offset-g2;
  line-height: $offset-g2;

  .r-i {
    color: $color_accent; //$color_navbar-header-link
  }

  &:focus {
    outline: none;
  }
}

// [>]
.navbar:not(.side-drawer-open),
.toolbar:not(.side-drawer-open) {
  .toggle-button {
    &:hover {
      background: transparent;
    }

    .hide-menu {
      display: none;
    }
  }
}

// [X]
.navbar.side-drawer-open,
.toolbar.side-drawer-open {
  .toggle-button {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;

    .r-i {
      color: white;
    }

    .show-menu {
      display: none;
    }
  }
}
