/* DrawerToggleButton.scss */

// [=]
.toggle-button {
  position: absolute;
  z-index: 102;
  background: transparent;
  top: $offset-2;
  top: calc(50% - 10px);
  @include resp-prop-half("left", $offset-g2);
  border: none;
  padding: 0;
  display: block;
  width: $offset-g2;
  height: $offset-g2;
  font-size: $offset-g2;
  line-height: $offset-g2;
  box-sizing: border-box;
  cursor: pointer;

  @media (max-width: $bp-xxs-1) {
    font-size: $offset-2;
    width: $offset-2;
    height: $offset-2;
  }

  .r-i {
    color: $color_accent; //$color_navbar-header-link
  }

  .more {
    color:white;
  }

  &:focus {
    outline: none;
  }
}

// [>]
.navbar:not(.side-drawer-open),
.toolbar:not(.side-drawer-open) {
  .toggle-button {
    &:hover {
      background: transparent;
    }

    .hide-menu {
      display: none;
    }
  }
}

// [X]
.navbar.side-drawer-open,
.toolbar.side-drawer-open {
  .toggle-button {
    display:block;
    position: fixed;
    top: $offset-1;
    left: $offset-1;
    background: transparent;

    .r-i {
      color: white;
    }

    .show-menu {
      display: none;
    }
  }
}

li.more {
  .r-i {
    display:none;
  }
}