/* SideDrawer.scss */

$SideDrawerWidth: 250px;

.side-drawer {
  @extend .nav-left-wrap;
  height: 100%;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: $SideDrawerWidth;
  z-index: 101;  
  transform: translateX(-260px);//cannot use calc because of IE
  transition: transform 0.3s ease-out;
  display:block;

  &.open {
    transform: translateX(0);
  }

  &.off-right {
    transform: translateX(100vw);

    &.open {
      transform: translateX(calc(100vw - (#{$SideDrawerWidth} + 10px)));
    }
  }
}
