/* _Item.scss */

// a.wide[href]:hover img {
//   transform: scale(1.07);
// }

$card-color-txt: #999;
$card-color-txt-price-detail: #f90;
$card-color-txt-price-sold: #f00;

$card-color-accent-bg: $color_accent;
$card-color-accent-link-title: white;
$card-color-accent-txt: #ccc;
$card-color-accent-link-category: $color_secondary;

.card article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: auto;
  // border: 1px solid $color_layout-border;

  .card-img {
    width: 100%;
    min-height: 40%;
    // @media (min-height: $bp-lg) {
    //   min-height: 185px;
    // }
    // @media (min-height: $bp-sm) and (max-height: $bp-lg-1) {
    //   min-height: 148px;
    // }
    // @media (min-height: $bp-tablet) and (max-height: $bp-sm-1) {
    //   min-height: 190px;
    // }

    display: flex;
    padding: 0;
    background-color: $card-color-txt;

    a {
      display: block;
      width: 100%;

      img {
        width: 100%;
        height: auto;

        &.img-loading {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .card-txt {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 100%;
    padding: $offset-g1 0;
    // background: yellow;
    flex-grow: 1;

    .title {
      display: block;
      margin: 0 0 5px 0;
    }

    .source {
      color: $color_accent3;
      font-weight: bold;
    }

    .price {
      color: $card-color-txt;
      &.detail {
        color: $card-color-txt-price-detail;
      }
      &.sold {
        color: $card-color-txt-price-sold;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .spacer {
      // display: flex;
      flex-grow: 1;
    }
  }

  .category {
    text-transform: uppercase;
  }

  .ftr {
    margin: $offset-g1 0 0 0;
    // background: orange;
    padding: 0;
    display: flex;
    justify-content: space-between;

    .year {
      color: $card-color-txt;
    }
  }
}

.card.grid.accent {
  background: $card-color-accent-bg;

  article {
    .card-img {
    }

    .card-txt {
      padding-left: $offset-g1;
      padding-right: $offset-g1;

      .title a {
        color: $card-color-accent-link-title;
      }

      .price:not(.sold):not(.detail) {
        color: $card-color-accent-txt;
      }
    }

    a.category {
      color: $card-color-accent-link-category;
    }

    .ftr {
      .year {
        color: $card-color-accent-txt;
      }
    }
  }
}

.card.row article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex: auto;
  // border: 1px solid $color_layout-border;

  .card-img {
    width: 30%;
    min-height: auto;
  }

  .card-txt {
    width: 70%;
    align-self: flex-start;
    padding: $offset-g1;
  }
}
