/* _Item.scss */

$card-color-bg: white;
$card-color-txt: #999;
$card-color-txt-price-detail: #f90;
$card-color-txt-price-sold: #f00;

$card-color-accent-bg: $color_accent;
$card-color-accent-link-title: white;
$card-color-accent-txt: #ccc;
$card-color-accent-link-category: $color_secondary;

.card article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: auto;
  // border: 1px solid $color_layout-border;

  .card-img {
    width: 100%;
    display: flex;
    padding: 0;
    background-color: $card-color-txt;

    a {
      display: block;
      width: 100%;

      img {
        width: 100%;
        height: auto;

        &.img-loading {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .card-txt {
    align-self: flex-end;
    width: 100%;
    padding: $offset-g1 0;
    // background: yellow;
    flex-grow: 1;

    .title {
      display: block;
      margin: 0 0 5px 0;
    }

    .price {
      color: $card-color-txt;
      &.detail {
        color: $card-color-txt-price-detail;
      }
      &.sold {
        color: $card-color-txt-price-sold;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  .card-ftr {
    margin-top: auto;
    // background: orange;
    padding: $offset-g1 0;
    display: flex;
    justify-content: space-between;

    .category {
      text-transform: uppercase;
    }
    .year {
      color: $card-color-txt;
    }
  }
}

.card.card-bg-accent {
  background: $card-color-accent-bg;

  article {
    .card-img {
    }

    .card-txt {
      padding-left: $offset-g1;
      padding-right: $offset-g1;

      .title a {
        color: $card-color-accent-link-title;
      }

      .price:not(.sold):not(.detail) {
        color: $card-color-accent-txt;
      }
    }

    .card-ftr {
      padding-left: $offset-g1;
      padding-right: $offset-g1;

      .year {
        color: $card-color-accent-txt;
      }

      a.category {
        color: $card-color-accent-link-category;
      }
    }
  }
}
