/* _ItemsList.scss */
// REF: https://getflywheel.com/layout/flexbox-create-modern-card-design-layout/

.items-wrap {
  padding: $offset-g2 0 0 0;

  .cards {
    display: flex;
    flex-wrap: wrap;

    .card {
      flex: auto; //1 0 500px;// flex: 0 0 30%;
      box-sizing: border-box;
      margin: 0 $offset-g1 $offset-g2 $offset-g1;
      padding: 0;
    }
  }

  @media (min-width: $bp-sm) {
    .card {
      width: calc(33.33333333% - #{$offset-g2});
    }
  }

  @media (min-width: $bp-xxxs) and (max-width: $bp-sm-1) {
    .card {
      width: calc(50% - #{$offset-g2});
    }
  }

  @media (max-width: $bp-xxxs-1) {
    .card {
      width: calc(100% - #{$offset-g2});
    }
  }
}
