/* _Item.scss */

.item.item-card {
  @include item-shared-props();

  article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: auto;
    // border: 1px solid $color_layout-border;

    .card-img {
      width: 100%;
      min-height: 40%;
      display: flex;

      a {
        display: block;
        width: 100%;

        img {
          width: 100%;
          height: auto;

          &.img-loading {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .card-txt {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      width: 100%;
      padding: $offset-g1 0;
      // background: yellow;
      flex-grow: 1;
      .spacer {
        // display: flex;
        flex-grow: 1;
      }
    }

    .ftr {
      margin: $offset-g1 0 0 0;
      // background: orange;
      padding: 0;
      display: flex;
      justify-content: space-between;
    }
  }
}

.item-card.accent {
  @media (min-width: $bp-tablet) {
    //only show accent grid if on big screen
    background: $card-color-accent-bg;

    article {
      .card-txt {
        padding-left: $offset-g1;
        padding-right: $offset-g1;

        .title a {
          color: $card-color-accent-link-title;
        }

        .price:not(.sold):not(.detail) {
          color: $card-color-accent-txt;
        }
      }

      a.category {
        color: $card-color-accent-link-category;
      }

      .ftr {
        .year {
          color: $card-color-accent-txt;
        }
      }
    }
  }
}

.item.item-row {
  @include item-shared-props();
  @include item-row();
}
