/* _portfolio.scss */

.col-posts-parent {
    > .row.row-homepage-wrap,
    > .row.row-header-wrap,
    > .row.row-portfolio-wrap,
    > .row.row-page-text {
        background:$color_debug;
        @media (min-width:$bp-xs) {
            padding:0 $offset-g1;
        }

        > .col-page-text,
        > .col-portfolio-item {
            margin:0 0 $offset-g2 0;
            background:$color_debug2;

            @media (max-width:$bp-xs-1){
                margin-bottom:$offset-g1;

                &:first-child {
                    margin-top:$offset-g1;
                    background:$color_debug3;
                }
            }

            .metaslider.metaslider-flex {
                margin:0 0 $offset-g2 0 !important;
            }         
        }

    }

    > .row.row-portfolio-wrap {
        &:not(.has-title) {
            padding-top:$offset-g2;
            @media (max-width:$bp-xs-1){
                padding-top:0;
            }
        }
    }

    > .row.row-homepage-wrap {
        &:first-child {
            padding-top:$offset-g2;     
        }
        &:last-child {
            padding-bottom:$offset-g2;     
        }

        > .col-portfolio-item:first-child {
            margin-top:0;
        }

        @media (max-width:$bp-md-1) {
            &:last-child {
                padding-bottom:$offset-g2;     
            }
        }
    }
}   

