/* _post-photos.scss */

.photos-wrap-rows {
    @media (min-width:$bp-xs) {
        padding:$offset-g2;        
    }
    // padding-bottom:$offset-g2;

    @media (max-width:$bp-xs-1) {
        padding-bottom:$offset-g2;
        padding-top:$offset-g2;
    }
}

.post-photos-nav {
    // float: left;
    // display: block;
    // width: 100%;
    border: 1px solid #E4E1AE;
    background: #FFFFD7;
    margin: $offset-2 auto;
    padding:$offset-g1;
    text-align:center;
    display:inline-block;

    ul {
        list-style: none;
        li {
            display:inline;
        }
    }
}

.PageBreak span {
    font-size: 1px;
    color: #fff;
}


.PhotoBox {
    display:inline-block;
    margin-bottom: $offset-g4;
    border: 1px solid #E4E1AE;
    background: #FFFFD7;

    > img {
        max-width:640px;
        width:100%;
        height:auto;
    }

    .PhotoBoxFooter {
        padding:$offset-g1;

        .photo-title {
            // float:left;
        }

        .ul-photo-options {
            // float:right;

            li {
                a {

                }
            }
        }
    }
}

