/* _title-splitter.scss */

.title_splitter_wrap {
    position: relative;
    z-index:0;
    margin:$offset-g2 0 $offset-g1 0;
    display:block;
    width:100%;
    min-height:20px;
    background:white;

    &:before {
        content: '';
        position: absolute;
        z-index:0;
        // width:100%;
        height: 1px;
        background: $color_layout-border-strong;
        left: $offset-g1;
        right: $offset-g1;
        top: 50%;
    }

    .title {
        float:left;
        position: relative;
        z-index:1;
        background:white;
        padding-right:$offset-g1;

        h2 {
            @extend .h4;
            margin:0;
        }

        .a-title {
            display:inline-block;
            @extend .a-black;
        }        
    }
    /* (END) .title */

    .see-all {
        float:right;
        position: relative;
        z-index:1;
        background:white;
        padding-left:$offset-g1;        

        @media (max-width:$bp-xs-1) {
            display:none;
        }

        .a-all {
            @extend .a-black;
        }
    }
    /* (END) .see-all */

    @media (max-width:$bp-xs-1) {
        // margin:$offset-g1 0;

        &:before {
            width: calc(100% - 15px);
        }

        .see-all {
            display:none;
        }
    }   
}



.row > div > .title_splitter_wrap {
    // margin:0;
}