/* _Navbar.scss */

.navbar {
  padding: 0;
  margin-bottom: 0;
  border: 0;
  // min-height: 60px;

  .container {
    background: white;
    padding: 0;
    @include resp-prop-half("padding-bottom", $offset-g1);

    @media (max-width: $bp-lg-1) {
      text-align: center;
      // padding-bottom:0;
    }

    .row {
      flex-grow: 1;
      margin: 0;
    }

    h1 {
      @extend .h3;
      font-size: 18px !important;
      margin: 22px 0 0 0;
      text-align: left;
    }

    ul.ul-header {
      float: left;
      display: block;
      background: $color_debug;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        background: $color_debug2;
        line-height: $offset-g2;
        color: $color_navbar-header-text;

        a {
          color: $color_navbar-header-link;
        }

        &:after {
          content: "|";
          margin: 0 $offset-1;
        }
      }
    }
  }

  // [=] in navbar
  .toggle-button {
    display: none;
  }

  @media (max-width: $bp-md-1) {
    .container {
      position: relative;
    }

    // [=] in navbar
    .toggle-button {
      display: block;
    }
  }
}

.navbar-brand-wrap {
  padding: 0;
  background: $color_debug;

  @media (max-width: $bp-lg-1) {
    text-align: center;
  }

  .navbar-brand {
    float: left;
    margin: $offset-1 0 0 0;
    height: auto; //bs2do
    padding: 0;
    background: $color_debug2;

    img {
      width: 100%;
      height: auto;
    }

    @media (min-width: $bp-lg) {
      margin-left: $offset-g2 !important; //bs2do
    }

    @media (min-width: $bp-md) and (max-width: $bp-lg-1) {
      margin-left: $offset-g1 !important; //bs2do
    }

    @media (max-width: $bp-md-1) {
      margin: 0 auto;
      display: inline-block;
      float: none;

      img {
        height: 80px;
        width: auto;
      }
    }

    @media (min-width: $bp-xs) and (max-width: $bp-tablet-1) {
      img {
        height: 60px;
        width: auto;
      }
    }

    @media (max-width: $bp-xs-1) {
      margin: 0 $offset-g1;
      float: left;

      img {
        height: auto;
        width: 60%;
        width: calc(100% - 60px);
      }
    }
  }
}

.navbar-contact-wrap {
  text-align: left;
}
