/* _TitleText.scss */

.title-text {
  @include resp-prop-half("margin", $offset-g2);
  margin-bottom: 0;
  padding-bottom: $offset-g1;
  border-bottom: 1px solid $color_accent;
  h1 {
    margin: 0;
  }

  .text {
    margin-top: $offset-g1;
  }
}

.title-text + .items-wrap {
  // padding-top: $offset-g1;
}
