.slick-slider {
  z-index: 0;
}

.slick-list {
  z-index: 0;
}

.slick-prev,
.slick-next {
  z-index: 2;
  top: 50%;
  margin: -20px 0 0;
  width: 40px;
  height: 40px;
  opacity: 0.5;
}
.slick-prev:before,
.slick-next:before {
  font-size: 40px;
}

.slick-dots li button:before {
  font-size: 20px;
  color: white;
}

.slick-dots li.slick-active button:before {
  color: white;
}

.slick-prev {
  left: 30px;
}

.slick-next {
  right: 30px;
}

.slick-slide img {
  /* display: block; */
  width: 100%;
  height: auto;
}

.slick-dots {
  bottom: 30px;
}

.slick-prev {
  left: 30px;
}

.slick-next {
  right: 30px;
}

.slick-prev,
.slick-next {
  /* width: 40px;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: none;
  text-align: center;
  border: 0;
  box-shadow: none !important;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: all 0.3s ease;
  background: #263762;
  font-size: 0;
  color: transparent;
  opacity: 0;
  top: 50%;
  margin: -20px 0 0; */
}

.slick-slider:hover .slick-prev,
.slick-slider:hover .slick-next {
  opacity: 0.5;
}
