/* _ItemExtras.scss */

.price {
  color: #666;

  &.detail:not(.sold) {
    color: #f90;
  }

  .sold {
    color: red;
    font-weight: bold;
  }
}

.item-extras {
  border: 1px solid $table-color-border;
  @include resp-prop-half("padding", $offset-g2);
  background: white;
  margin: 0;
  @include resp-prop-half("margin-bottom", $offset-g2);

  @media (min-width: $bp-sm) {
    float: right;
    max-width: 40%;
    width: auto;
    @include resp-prop-half("margin-left", $offset-g2);
  }

  div.feature-list {
    > div {
      padding-top: $offset-1;
      padding-bottom: $offset-1;
      border-top: 1px solid $color_layout-border;
      display: block;

      h3 {
        margin: 0;
      }

      &:first-child {
        padding-top: 0;
        border-top: none;
      }
      &:last-child {
        padding-bottom: 0;
      }

      &.post-tags,
      &.post-share {
        h4 {
          display: inline-block;
          margin-right: $offset-1;
          // border-bottom:1px solid $color_layout-border;
        }

        ul {
          display: inline-block;
        }
      }

      &.post-share {
        // width:110px;

        h4 {
          float: left;
        }
      }
      /* (END) .post-share */
    }
  }

  //price
  h3 {
    // display:inline-block;
    margin: 0;
    // border-bottom:1px solid $color_layout-border;
  }

  hr {
    margin-top: $offset-1;
    margin-bottom: $offset-1;
    border-color: $color_layout-border;
  }

  ul.ul-fa {
    @extend .ul-inline-block;
  }

  .sfsi_widget {
    display: inline-block;

    > .norm_row.sfsi_wDiv {
      width: 100px !important;
      // background:pink;
      position: static !important;

      .sfsi_wicons {
        padding-top: 0;
        margin: 0 $offset-g1 0 0 !important;

        &:last-child {
          margin-right: 0 !important;
        }
      }
    }

    > .norm_row,
    > .sfsi_holder {
      height: 40px !important;
      line-height: 40px !important;
    }

    > .sfsi_holders {
      height: 1px !important;
    }

    // <div id="sfsi_holder" class="sfsi_holders" style="position: relative; float: left; width: 100%; z-index: -1; height: 60px;"></div>
  }

  p {
    margin-bottom: 0;
  }
}

// .sharedaddy {
//     display: none;
//   }

//   .post-details-box .sharedaddy {
//     display: inline-block;

//     h3.sd-title {
//       display: none;
//     }

//     ul {
//       // @extend .ul-clean;//191230
//       // @extend .ul-inline-block;//191230
//       margin: 5px 0 0 0 !important;

//       li {
//         margin: 0 $offset-1 0 0 !important;
//         padding-right: 0 !important;

//         &:before {
//           display: none !important;
//         }
//       }
//     }
//   }
