/* _ItemExtras.scss */

.price {
  color: #666;

  &.detail:not(.sold) {
    color: #f90;
  }

  &.sold {
    color: red;
    font-weight: bold;
  }
}

.item-extras {
  border: 1px solid $table-color-border;
  @include resp-prop-half("padding", $offset-g2);
  background: white;
  margin: 0;
  @include resp-prop-half("margin-bottom", $offset-g2);

  @media (min-width: $bp-sm) {
    float: right;
    width: 33.33333333%;
    @include resp-prop-half("margin-left", $offset-g2);
  }

  @media (min-width: $bp-tablet) and (max-width: $bp-sm-1) {
    float: right;
    width: 40%;
    @include resp-prop-half("margin-left", $offset-g2);
  }

  div.feature-list {
    > div {
      padding-top: $offset-1;
      padding-bottom: $offset-1;
      border-top: 1px solid $color_layout-border;
      display: block;

      h3 {
        margin: 0;
      }

      &:first-child {
        padding-top: 0;
        border-top: none;
      }
      &:last-child {
        padding-bottom: 0;
      }

      &.post-share {
        // width:110px;
        h4 {
          margin: 0 0 $offset-1 0;
        }

        ul {
          @extend .ul-inline-block;
          line-height: 0;

          li {
            line-height: 0;
            padding: 0 5px 0 0;
            @media (min-width: $bp-tablet) and (max-width: $bp-lg-1) {
              padding-right: 2px;
            }
            &:last-of-type {
              padding-right: 0;
            }
          }
        }
      }
      /* (END) .post-share */
    }
  }

  //price
  h3 {
    // display:inline-block;
    margin: 0;
    // border-bottom:1px solid $color_layout-border;
  }

  hr {
    margin-top: $offset-1;
    margin-bottom: $offset-1;
    border-color: $color_layout-border;
  }

  p {
    margin-bottom: 0;
  }
}

// .sharedaddy {
//     display: none;
//   }

//   .post-details-box .sharedaddy {
//     display: inline-block;

//     h3.sd-title {
//       display: none;
//     }

//     ul {
//       // @extend .ul-clean;//191230
//       // @extend .ul-inline-block;//191230
//       margin: 5px 0 0 0 !important;

//       li {
//         margin: 0 $offset-1 0 0 !important;
//         padding-right: 0 !important;

//         &:before {
//           display: none !important;
//         }
//       }
//     }
//   }
