/* _Breadcrumbs.scss */

.row.row-breadcrumb {
  .col-post-breadcrumb {
    margin-bottom: 0;
    @include resp-prop-half("padding-top", $offset-g1);
    @include resp-prop-half("padding-bottom", $offset-g1);
    @include resp-prop-half("padding-left", $offset-g2);
    @include resp-prop-half("padding-right", $offset-g2);
    background: $color_secondary;

    @media (max-width: $bp-xs-1) {
      padding: 5px $offset-g1;
      // margin-bottom:$offset-g1;
    }

    .crumbs-wrap {
      ul {
        li {
          svg {
            height: $offset-1;
            margin-right: $offset-1;
            @media (max-width: $bp-tablet-1) {
              margin-right: 5px;
            }
          }

          &.li-jump-menu-wrap {
            form {
              display: inline-block;

              .form-group {
                margin-bottom: 0 !important;
                select {
                  max-width: 130px;
                }
              }
            }
          }
          /* (END) &.li-jump-menu-wrap */
        }

        // on posts page
        // &.has-3-crumbs {
        @media (max-width: $bp-tablet-1) {
          li.Live,
          li.Archive {
            .crumb-resp > span {
              display: none;
            }
          }

          li.Live {
            .crumb-resp:before {
              content: "For Sale";
            }
          }

          li.Archive {
            .crumb-resp:before {
              content: "Sold";
            }
          }
        }
        // }

        // on single post page
        &.has-4-crumbs {
          @media (max-width: $bp-sm-1) {
            li.Live,
            li.Archive {
              display: none;
            }
          }
        }
      }
    }
    /* (END) .crumbs-wrap */
  }
  /* (END) .col-post-breadcrumb */
}
