/* App.scss */
@import "./assets/css/normalize.css";

/* BASE - base styles, variables, mixins etc */
@import "./assets/scss/base/_variables";
@import "./assets/scss/base/_variables-color";
@import "./assets/scss/base/_variables-button";
@import "./assets/scss/base/_mixins";
@import "./assets/scss/base/_mixins-buttons";
@import "./assets/scss/base/_mixins-forms";
@import "./assets/scss/base/_base";
@import "./assets/scss/base/_body-shadow";
@import "./assets/scss/base/_base-colors";

/* MODULES - individual site components */
@import "./assets/scss/modules/_typography";
@import "./assets/scss/modules/_typography-resp";
@import "./assets/scss/modules/_typography-hyperlink";
@import "./assets/scss/modules/_typography-ul";

/* LAYOUTS - page layout styles */
@import "./assets/scss/layouts/_offsets";
@import "./assets/scss/layouts/_responsive";

/* COMPONENTS */
@import "./components/Sidebar/Sidebar";
@import "./components/Carousel/Carousel";
@import "./components/Navbar/Navbar";
@import "./components/Footer/Footer";
@import "./components/Sidebar/Navleft/NavLeft";
@import "./components/Sidebar/InfoBox/InfoBox";
@import "./components/Sidebar/BrandList//BrandList";
@import "./components/Sidebar/Search/Search";
@import "./components/Breadcrumbs/Breadcrumbs";
@import "./components/Pagination/Pagination";
@import "./components/SocialBtns/SocialBtns";
/* NAVLEFT OFFSCREEN */
@import "./components/Navigation/Backdrop/Backdrop";
@import "./components/Navigation/SideDrawer/SideDrawer";
@import "./components/Navigation/SideDrawer/DrawerToggleButton";

/* CONTAINERS */
@import "./containers/ItemsFilter/ItemsFilter";

/* PAGES */
@import "./pages/Homepage/Home";
@import "./pages/Items/Items";

/* ADDONS */
@import "./assets/scss/addons/_font-awesome-overrule";
@import "./assets/scss/addons/_bootstrap-overrule";
@import "./assets/scss/addons/bootstrap-form";
@import "./assets/scss/addons/_restore-in-future";
@import "./assets/scss/addons/_debug";
