/* _ItemsFilter.scss */

.row.row-breadcrumb,
.row.row-filter {
  .col-post-breadcrumb,
  .col-post-filter {
    margin-bottom: 0;
    padding: $offset-g1 $offset-g2;
    background: $color_secondary;

    @media (max-width: $bp-xs-1) {
      padding: 5px $offset-g1;
      // margin-bottom:$offset-g1;
    }
  }
}

.row.row-filter {
  .col-post-filter {
    background: transparent;

    .filter-wrap {
      .filter-column {
        display: inline-block;
        background: pink;
      }
    }
  }
  /* (END) .col-post-filter */
}
