/* _ItemsFilter.scss */

.row.row-filter {
  background: $color_accent3;
  padding: 5px $offset-g1;

  .col-post-filter {
    label {
      color: white;
      margin-right: $offset-1;
    }

    input,
    select {
    }

    &.two-control {
      .form-control:first-of-type {
        margin-right: $offset-1;
      }

      @media (min-width: $bp-lg) {
        label {
          width: 20%;
        }
        .form-control {
          width: calc(40% - #{$offset-1});

          &:first-of-type {
            margin-right: $offset-1;
          }
        }
      }
    }

    @media (min-width: $bp-xs) and (max-width: $bp-lg-1) {
      label {
        width: 100%;
      }
      &.two-control .form-control {
        display: inline-block;
        width: calc(50% - #{$offset-1});
      }
    }
  }
}
