/* _Home.scss */

main {
  .content-wrap.match-heights {
    > .sidebar {
      width: 25%;
    }

    > .content {
      width: 75%;
    }

    &.match-heights {
      display: flex;
      /* flex-direction: column; */
      width: 100%;

      > div {
        /* flex: 1; */
      }
    }
  }
}
