/* _Home.scss */

.main {
  .content-wrap.match-heights {
    display: flex;
    /* flex-direction: column; */
    width: 100%;

    > .sidebar {
      width: 25%;
      @media (max-width: $bp-md-1) {
        display: none;
      }
    }

    > .content {
      width: 75%;
      @media (max-width: $bp-md-1) {
        width: 100%;
      }
    }
  }
}
