/* _ItemDetails.scss */

/* _content-item-details.scss */

.fmt-price {
  color: #666;

  &.detail {
    color: red;
  }
}

.fmt-sold {
  color: red;
  font-weight: bold;
}

.item-details-img > .row {
  margin: 0;
}

.row.row-post-img {
  padding: $offset-g2;
  padding-top: 0;
  // background: $color_primary;

  .col-post-img {
    padding: 0;
    @media (min-width: $bp-md) {
      padding-right: $offset-g1;
    }
    @media (max-width: $bp-md-1) {
      padding-bottom: $offset-g1;
    }

    img {
      width: 100%;
      height: auto;
    }

    .img-featured {
      &.can-zoom {
        position: relative;
        z-index: 0;

        .btn-zoom {
          position: absolute;
          z-index: 1;
          top: 0px;
          right: 0px;
          background: $color_primary;
          color: white;
          text-align: center;
          width: 40px;
          height: 40px;
          line-height: 40px;
          outline: none;
          border: none;
        }
      }
    }
  }
  /* (END) .col-post-img */

  .col-post-img-grid {
    padding: 0;

    .img-grid {
      display: flex;
      flex-wrap: wrap;

      > img {
        flex: 33%;
        flex-grow: 0;
        height: auto;
      }
    }
  }
  /* (END) .col-post-img-grid */
}

.col-post-text {
  padding: $offset-g2 $offset-g1;

  @media (max-width: $bp-xs-1) {
    padding: $offset-g2 $offset-g1;
  }

  h1 {
    margin-top: 0;
    margin-bottom: $offset-g1;
  }

  h3 {
    margin-top: $offset-g1;
    margin-bottom: $offset-g1;

    .fmt-price {
      display: block;
      // color:#000;
    }
  }

  .post-text-body {
    line-height: $offset-g2;

    .post-details-box {
      border: 1px solid $table-color-border;
      padding: $offset-g2;
      background: white;
      margin: 0 0 $offset-g2 0;

      div.feature-list {
        > div {
          padding-top: $offset-1;
          padding-bottom: $offset-1;
          border-top: 1px solid $color_layout-border;
          display: block;

          &:first-child {
            padding-top: 0;
            border-top: none;
          }
          &:last-child {
            padding-bottom: 0;
          }

          &.post-tags,
          &.post-share {
            h4 {
              display: inline-block;
              margin-right: $offset-1;
              // border-bottom:1px solid $color_layout-border;
            }

            ul {
              display: inline-block;
            }
          }

          &.post-share {
            // width:110px;

            h4 {
              float: left;
            }
          }
          /* (END) .post-share */
        }
      }

      //price
      h3 {
        // display:inline-block;
        margin: 0;
        // border-bottom:1px solid $color_layout-border;
      }

      hr {
        margin-top: $offset-1;
        margin-bottom: $offset-1;
        border-color: $color_layout-border;
      }

      ul.ul-fa {
        @extend .ul-inline-block;
      }

      .sfsi_widget {
        display: inline-block;

        > .norm_row.sfsi_wDiv {
          width: 100px !important;
          // background:pink;
          position: static !important;

          .sfsi_wicons {
            padding-top: 0;
            margin: 0 $offset-g1 0 0 !important;

            &:last-child {
              margin-right: 0 !important;
            }
          }
        }

        > .norm_row,
        > .sfsi_holder {
          height: 40px !important;
          line-height: 40px !important;
        }

        > .sfsi_holders {
          height: 1px !important;
        }

        // <div id="sfsi_holder" class="sfsi_holders" style="position: relative; float: left; width: 100%; z-index: -1; height: 60px;"></div>
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}
