/* _ItemDetails.scss */

.item-details-img > .row {
  margin: 0;
}

.row.row-post-img {
  @include resp-prop-half("padding-bottom", $offset-g2);
  @include resp-prop-half("padding-left", $offset-g2);
  @include resp-prop-half("padding-right", $offset-g2);
  padding-top: 0;

  // background: $color_primary;

  .col-post-img {
    padding: 0;
    @media (min-width: $bp-sm) {
      padding-right: $offset-g1;
    }
    @media (max-width: $bp-sm-1) {
      padding-bottom: 1px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
  /* (END) .col-post-img */

  .col-post-img-grid {
    padding: 0;
  }
  /* (END) .col-post-img-grid */
}

.col-post-text {
  @include resp-prop-half("padding", $offset-g2);

  @media (max-width: $bp-xs-1) {
    padding: $offset-g2 $offset-g1;
  }

  h1 {
    margin-top: 0;
    margin-bottom: $offset-g1;
  }

  .post-text-body {
    line-height: $offset-g2;

    img {
      max-width: 100%;
    }
  }
}

.item-details-img.carousel {
  .row.row-post-img {
    @extend .bg-white;
    padding-bottom: 0;
    @include resp-prop-half("padding-top", $offset-g2);

    .col-post-img {
      padding-bottom: 0;
    }
    /* (END) .col-post-img */

    .col-post-item-extras {
      padding: 0;
    }
    /* (END) .col-post-item-extras */
  }
}

/* Lightbox */
/* BUGFIX */
// BUG touching the buttons on small device causes browser to show address bar
// FIX: Move bar down 15px
.ril-toolbar.ril__toolbar {
  width: 160px;
  right: 0;
  left: auto;
  top: $offset-g1;
}
