/* _ItemDetails.scss */

.item-details-img > .row {
  margin: 0;
}

.row.row-post-img {
  @include resp-prop-half("padding", $offset-g2);
  padding-top: 0 !important;

  // background: $color_primary;

  .col-post-img {
    padding: 0;
    @media (min-width: $bp-sm) {
      padding-right: $offset-g1;
    }
    @media (max-width: $bp-sm-1) {
      padding-bottom: 1px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
  /* (END) .col-post-img */

  .col-post-img-grid {
    padding: 0;
  }
  /* (END) .col-post-img-grid */
}

.col-post-text {
  @include resp-prop-half("padding", $offset-g2);

  @media (max-width: $bp-xs-1) {
    padding: $offset-g2 $offset-g1;
  }

  h1 {
    margin-top: 0;
    margin-bottom: $offset-g1;
  }

  .post-text-body {
    line-height: $offset-g2;
  }
}
