/* _Banner.scss */

.banner {
  @include resp-prop-half("padding-top", $offset-g2);
  @include resp-prop-half("padding-bottom", $offset-g2);
  @include resp-prop-half("padding-left", $offset-g2);
  @include resp-prop-half("padding-right", $offset-g2);
  width: 100%;
  background: yellow;
  box-sizing: border-box;

  h1 {
    margin: 0 0 $offset-g1 0;
    color: white;
  }

  h3 {
    margin: 0 0 $offset-g1 0;
    color: white;
  }

  p {
    margin: 0 0 $offset-g1 0;
    // font-weight: normal;
    // font-size: 24px;
    // line-height: 30px;
    color: white;
  }

  .btn-primary {
    svg {
      margin-right:5px;
    }
  }

  &.high-alert {
    background: $color_accent3;

    h1, a {
      color:white;
    }

    .caps-black {
      display:block;
      margin-top:$offset-g1;
      color:black;
      text-transform:uppercase;
      font-weight:bold;
    }
  }

//   &.christmas {
//     background: white url(../../assets/images/bg_christmas.jpg);

//     h1 {
//       margin: 0 0 0.5em 0;
//       font-weight: normal;
//       font-size: 24px;
//       line-height: 30px;
//       color: $color_accent;
//     }

//     a.btn-primary {
//       color: $color_accent;
//       background: white;
//       border:1px solid $color_accent;
//       border-radius:5px;
//       padding:5px 10px;
//       text-decoration:none;

//       &:hover {
//         background:$color_accent;
//         color:white;
//       }
//     }
//   }

}
